# models, data, and git repos
models/
repos/
.data/
notebooks/wandb/
data/allosaurus_data/data
data/allosaurus_data/train/
data/allosaurus_data/validate/
data/allosaurus_data/train/feat.ark

notebooks/results-b0-noise
notebooks/results-b0-noiseB
notebooks/results-b0-noiseC
notebooks/results-no-resize


notebooks/noise_samples
notebooks/sweep_results
notebooks/results-b4
notebooks/results-b3
notebooks/results-b0
notebooks/results-b10
notebooks/results
notebooks/xlsr-timit-b0
notebooks/xlsr-timit-a0
NVIDIA-Linux-x86_64-525.125.06.run

/notebooks/xlsr-timit-b1

# secrets
.env

# python
venv
__pycache__

# macOS
.DS_Store

# node
node_modules

