# models, data, and git repos
models/
repos/
.data/
notebooks/wandb/
data/allosaurus_data/data
data/allosaurus_data/train/
data/allosaurus_data/validate/
notebooks/results
notebooks/results-b
notebooks/results-b1
notebooks/results-b2
NVIDIA-Linux-x86_64-525.125.06.run

# secrets
.env

# python
venv
__pycache__

# macOS
.DS_Store

# node
node_modules
data/allosaurus_data/train/feat.ark
