# fly.toml app configuration file generated for koel-api on 2025-11-28T18:33:04-08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'koel-api'
primary_region = 'sjc'

[build]
  dockerfile = './browser_tests/run_models/Dockerfile'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '4gb'
  cpu_kind = 'performance'
  cpus = 2
