stt==1.4.0
numpy==1.24.4
torch==2.9.0
torchaudio==2.9.0
torchcodec==0.8.1
requests==2.32.5
ffmpeg-python==0.2.0
sounddevice==0.5.3
scipy==1.15.3
python-dotenv==1.2.1
google-cloud-speech==2.34.0
google-cloud-storage>=2.10.0
boto3==1.41.2
azure-cognitiveservices-speech==1.47.0
transformers==4.57.1
datasets==4.4.1
faster_whisper==1.2.1
ipapy==0.0.9.0
g2p-en==2.1.0
misaki[ja]==0.9.4
ipython==8.37.0
matplotlib==3.10.7
pandas==2.3.3
openpyxl==3.1.5
praat-textgrids==1.4.0
panphon==0.22.2
unidiff==0.7.5
psstdata==1.0.1
selenium==4.38.0
pylangacq==0.19.1
jiwer==4.0.0
fastdtw==0.3.4
allosaurus==1.0.2
soundfile==0.13.1
scikit-learn==1.7.2
fast-ctc-decode==0.3.7
sherpa-ncnn==2.1.15
phonemizer==3.3.0
langcodes==3.5.0
speechbrain==1.0.3
f5-tts==1.1.9
pandarallel==1.6.5
seaborn==0.13.2
gradio==5.50.0
tqdm>=4.65.0
nltk==3.9.2
antlr4-python3-runtime==4.9.3
huggingface-hub==0.36.0
httpcore==1.0.9
accelerate==1.12.0
fairseq2==0.7.0
