API_KEY=ARBITRARY_API_KEY_FOR_THIS_SERVER

GOOGLE_PROJECT_ID=GCP_PROJECT_ID_WITH_CHIRP_3_ACCESS
GOOGLE_APPLICATION_CREDENTIALS=GCP_CREDENTIAL_JSON_WITH_CHIRP_3_ACCESS
GOOGLE_APPLICATION_CREDENTIALS_FILE=/app/credentials.json
GOOGLE_BUCKET_NAME=GCP_BUCKET_FOR_UPLOADING_AUDIO_DATA_FOR_CHIRP_3

AWS_BUCKET_NAME=AWS_BUCKET_NAME_FOR_UPLOADING_AUDIO_DATA_FOR_API_MODELS
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID_FOR_UPLOADING_AUDIO_DATA_FOR_API_MODELS
AWS_SECRET_ACCESS_KEY=AWS_ACCESS_KEY_FOR_UPLOADING_AUDIO_DATA_FOR_API_MODELS

HF_TOKEN=HF_TOKEN_WITH_READ_ACCESS_TO_ALL_NEEDED_MODELS
